#header {
    height: 40px;
    background-color: #cecece;
    padding: 1 0 10 0;
}
#container {
    text-align: center;
  }
  body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
   }
   td, th {
    padding: 5px;
    border: 1px solid #000; 
   }
   tr:hover {
    background: #a015ac; 
    color: #fff;
   }